Source: icingaweb2
Section: admin
Priority: extra
Maintainer: Icinga Development Team <info@icinga.org>
Uploaders:
 Markus Frosch <lazyfrosch@debian.org>
Build-Depends:
 debhelper (>= 9),
 python,
 python-jsmin
Standards-Version: 3.9.6
Homepage: https://www.icinga.org
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-nagios/pkg-icingaweb2.git
Vcs-Git: git://anonscm.debian.org/pkg-nagios/pkg-icingaweb2.git

Package: icingaweb2
Architecture: all
Depends:
 adduser,
 icingaweb2-common,
# 4.4 in wheezy - TODO: test
 php-htmlpurifier (>= 4.4),
 php-dompdf (>= 0.6.1),
# php-parsedown,
# php-lessphp,
# php-jshrink,
 ${misc:Depends}
Recommends:
 apache2 | httpd,
 php5 (>= 5.3.2),
 php5-ldap,
 icingaweb2-module-monitoring,
 icingaweb2-module-doc,
 icingaweb2-module-setup
Description: simple and responsive web interface for Icinga
 Icinga Web 2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 The software will give you a web frontend for your monitoring solution, and
 can run additional modules, extending monitoring data, or even supplying
 something new to the webinterface.
 .
 Backends can be IDO and Livestatus, while supporting Icinga 1 and 2.
 .
 This package installs the web interface with all needed dependencies.

Package: icingaweb2-common
Architecture: all
Depends:
 adduser,
 php-icinga,
 ${misc:Depends}
Description: simple and responsive web interface for Icinga - common files
 Icinga Web 2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 This package provides common files and paths.

Package: icingacli
Architecture: all
Depends:
 icingaweb2-common,
 php5-cli (>= 5.3.2),
 ${misc:Depends}
Description: CLI tool for the Icinga Web 2 framework
 Icinga Web 2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 Icinga CLI is a command line utility, allowing the admin to configure Icinga
 Web 2 and provides the possibility to query Icinga data from your shell.

Package: icingaweb2-module-monitoring
Architecture: all
Depends: icingaweb2-common, ${misc:Depends}
Description: simple and responsive web interface for Icinga - monitoring module
 Icinga Web 2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 This module adds the Icinga monitoring frontend to the web interface.

Package: icingaweb2-module-doc
Section: doc
Architecture: all
Depends: icingaweb2-common, ${misc:Depends}
Description: simple and responsive web interface for Icinga - documentation module
 Icinga Web 2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 This module adds the documentation viewer of Icinga Web 2, which can also
 display the documentation of other modules.

Package: icingaweb2-module-setup
Architecture: all
Depends: icingaweb2-common, ${misc:Depends}
Description: simple and responsive web interface for Icinga - setup module
 Icinga Web 2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 This module provides the setup wizard to bootstrap your Icinga Web 2
 configuration.
 .
 It will be disabled after setup, and can be removed later.

Package: php-icinga
Section: php
Architecture: all
Depends:
 php5 (>= 5.3.2),
 zendframework,
 ${misc:Depends}
# | icingaweb-vendor-zend
Recommends:
 php5-mysql | php5-mysqlnd | php5-pgsql,
 php5-json
Description: PHP library to communicate with and use Icinga
 Icinga is a PHP library providing a PHP API to interact with Icinga's data.
 .
 The main dependency here is the Zend Framework.
 .
 This library is mainly used by Icinga Web 2 to get its data.
