Source: icingaweb2
Section: admin
Priority: extra
Maintainer: Icinga Development Team <info@icinga.org>
Uploaders:
 Markus Frosch <lazyfrosch@debian.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://www.icinga.org
Vcs-Git: git://git.icinga.org/icingaweb2.git
Vcs-Browser: https://git.icinga.org/?p=icingaweb2.git;a=summary

Package: icingaweb2
Architecture: all
Depends:
 icingaweb2-common,
 ${misc:Depends}
# icingaweb-vendor-parsedown,
# icingaweb-vendor-lessphp,
# icingaweb-vendor-jshrink,
# icingaweb-vendor-htmlpurifier
#Conflicts: vendor packages
Recommends:
 apache2 | httpd,
 php5 (>= 5.3.2),
 php5-ldap,
 icingaweb2-module-monitoring,
 icingaweb2-module-doc,
 icingaweb2-module-setup
Description: simple and responsive web interface for Icinga
 Icingaweb2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 TODO: better description
 .
 This package installs the web interface with all needed dependencies.

Package: icingaweb2-common
Architecture: all
Depends:
 php-icinga,
 ${misc:Depends}
Description: simple and responsive web interface for Icinga - common files
 Icingaweb2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 TODO: better description
 .
 This package provides common files and paths.

Package: icingacli
Architecture: all
Depends:
 icingaweb2-common,
 php5-cli (>= 5.3.2),
 ${misc:Depends}
Description: CLI tool based on the Icingaweb2 framework
 Icingaweb2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 TODO: better description
 .
 This package provides the CLI tool.

Package: icingaweb2-module-monitoring
Architecture: all
Depends: icingaweb2-common, ${misc:Depends}
Description: simple and responsive web interface for Icinga - monitoring module
 Icingaweb2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 TODO: better description
 .
 This module adds the Icinga monitoring frontend.

Package: icingaweb2-module-doc
Section: doc
Architecture: all
Depends: icingaweb2-common, ${misc:Depends}
Description: simple and responsive web interface for Icinga - documentation module
 Icingaweb2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 TODO: better description
 .
 This module adds the documentation viewer to Icingaweb2.

Package: icingaweb2-module-setup
Architecture: all
Depends: icingaweb2-common, ${misc:Depends}
Description: simple and responsive web interface for Icinga - setup module
 Icingaweb2 is a very modular, fast and simple web interface for your Icinga
 monitoring environment.
 .
 TODO: better description
 .
 This module provides the setup wizard.

#Package: icingaweb2-module-test
#Architecture: all
#Depends: icingacli, ${misc:Depends}
#Description: Icingaweb test module
# Use this module to run unit tests against Icingaweb or any of it's modules

#Package: icingaweb2-module-translation
#Architecture: all
#Depends: icingaweb2-common, ${misc:Depends}
#Description: Icingaweb translation module
# This module helps translators to get Icingaweb translations done

Package: php-icinga
Section: php
Architecture: all
Depends:
 php5 (>= 5.3.2),
 zendframework,
 ${misc:Depends}
# | icingaweb-vendor-zend
Recommends:
 php5-mysql | php5-mysqlnd | php5-pgsql,
 php5-json
Description: PHP library to communicate with and use Icinga
 TODO: better description
 .
 This module provides the Icinga PHP library for Icingaweb2.
